<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_PATH" value="./log" />
  <property name="SERVER_PORT" value="8019" />
  <property name="APPLICATION_NAME" value="learn-jenkins" />

  <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${APPLICATION_NAME}.${SERVER_PORT}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>
        ${LOG_PATH}/archived/%d{yyyy-MM-dd}.%i.${APPLICATION_NAME}.${SERVER_PORT}.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100GB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <!-- CHANGE THIS SETTING ACCORDING TO YOUR APP -->
  <logger name="com.john.learn_jenkins" level="info" additivity="false">
    <appender-ref ref="FILE-AUDIT" />
  </logger>
</configuration>